/*
 * Autor : Bernardo Tuso 
 * Sitio : Guess My Number
 * Descripcion : Hoja de estilos para elementos
 * Fecha : 31/01/2013
 */

/* 			Body
 * ===============================*/
 
body{
	background-color: #e7e7e7;
	background-image:url('../images/top-background.png');
	background-repeat:repeat-x;
	height: auto;
}

/*			Header
 * ===============================*/
 
#logo {
	background-image:url('../images/logo.png');
	background-repeat:no-repeat;
	background-position:center top;
	height:130px;
}

#registrarse {
	background-image:url('../images/registrarse.png');
	background-repeat:no-repeat;
	height : 55px;
	margin-top:40px;
}

#registrarse:hover{
	background-image:url('../images/registrarse-hover.png');
}

/*			Top Bar
 * ===============================*/
 #top-bar {
 	background-color: #f06f60;
 	height:150px;
 } 
 
 #top-bar-left {
 	background-image:url('../images/top-bar-left.png');
	background-repeat:no-repeat;
	background-position:right top;
	height:107px;
	width:90px;
	float:left;
	padding-left:10px;
	margin-top: 43px;
 } 
 
 #top-bar-middle {
 	background-color: #ffffff;
	height:107px;
	width:760px;
	float:left;
	margin-top: 43px;
 }
 
 #top-bar-right {
 	background-image:url('../images/top-bar-right.png');
	background-repeat:no-repeat;
	background-position:left top;
	height:107px;
	width:90px;
	float:left;
	margin-top: 43px;
 }

/*			Bottom Bar
 * ===============================*/
  #bottom-bar {
 	background-color: #f06f60;
 	height:150px;
 } 
 
 #bottom-bar-left {
 	background-image:url('../images/bottom-bar-left.png');
	background-repeat:no-repeat;
	background-position:right top;
	height:107px;
	width:90px;
	float:left;
	padding-left:10px;
	margin-bottom: 43px;
 } 
 
 #bottom-bar-middle {
 	background-color: #ffffff;
	height:107px;
	width:760px;
	float:left;
	margin-bottom: 43px;
 }
 
 #bottom-bar-right {
 	background-image:url('../images/bottom-bar-right.png');
	background-repeat:no-repeat;
	background-position:left top;
	height:107px;
	width:90px;
	float:left;
	margin-bottom: 43px;
 }

/*			Middle Section
 * ===============================*/
 #middle-div {
	background-color: #ffffff;
	text-align:center;
 }

/*			Server div
 * ===============================*/
 #server-div input{
	margin-top:5px;
	margin-bottom:5px;
 }
 
 /*			Register div
  * ===============================*/
 #register-div input{
	margin-top:5px;
	margin-bottom:5px;
 }


 /*			Oponent-container
  * ===============================*/
#oponent-container{
	float:left;
}

/*			History Table
 * ================================*/
#historyTable{
	text-align:center;
	border-collapse:collapse;
	font-family: Verdana,Geneva,sans-serif;
}

#historyTable th, #historyTable td{
	text-align:center;
	border: 1px solid #337A9C;
	padding:3px 7px 2px 7px;
}

#historyTable th{
	background-color:#7A8CC6;
	padding-top:5px;
	padding-bottom:5px;
}

#historyTable tr.win td{
	background-color:#B1DEAA;
}

#historyTable tr.alt td{
	background-color:#ABC3E0;
}

#historyTable tr.nor td{
	background-color:#F1F5F9;
}

/*			POSITIONS
 * ===============================*/
 
/*			  Left
 * ===============================*/
.left{
	float:left;
}

/*			  Right
 * ===============================*/
.right{
	float:right;
}

/*			  Center
 * ===============================*/
.center{
	text-align:center;
}

/*			  Middle
 * ===============================*/
.middle{
	margin-top:25px;
}

/*				TEXT
 * ===============================*/
 
/*				Info
 * ===============================*/
 .info {
    color: #2E8AE6;
	text-align:center;
	padding-top:25px;
    font-family: Verdana,Geneva,sans-serif;
    font-weight: bold;
	text-decoration:underline;
 }

/*				H3
 * ================================*/
 h3 {
    color: #2E8AE6;
	text-align:center;
    font-family: Verdana,Geneva,sans-serif;
 }

/*				H5
 * ================================*/
 h5 {
    color: #1C6BBC;
	text-align:center;
    font-family: Verdana,Geneva,sans-serif;
 }

/*			H5 - Error
 * ================================*/
 .error-msg {
/*    color: #D62300;	El color se cambia en el ErrorHandler (./js/functions/errorHandler.js)		*/
	text-align:center;
    font-family: Verdana,Geneva,sans-serif;
 }
